<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <!-- About me -->
    <section class="hero">
        <div class="hero-text">
            <div class="about">
                <h2>Hi</h2>
                <h1>I'm <span class="highlight">A Fellow </span><br/><span class="highlight-role">Software Developer</span></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                </p>
            </div>
        </div>
    </section>

        <!--Education Section-->
    <section class="hero">
        <div class="hero-text">
            <div class="about education-section">
                <h2>Education</h2>
                <div class="education-container">
                    <div class="education-card">
                        <h3>Master of Science in Software Engineering</h3>
                        <div class="university">University of Technology</div>
                        <div class="duration">August 2077 - May 2077</div>
                        <ul>
                            
                            <li>Specialized in Cloud Computing and Distributed Systems</li>
                            <li>Thesis: "Optimizing Cloud-Based Data Processing for Large-Scale Applications"</li>
                            <li>Participated in various hackathons and coding competitions</li>
                        </ul>
                    </div>
                    <div class="education-card">
                        <h3>Bachelor of Science in Computer Science</h3>
                        <div class="university">Tech University</div>
                        <div class="duration">August 1337 - May 1337</div>
                        <ul>
                            <li>Graduated with Honors</li>
                            <li>Relevant Coursework: Data Structures, Algorithms, Database Systems, Cloud Computing</li>
                            <li>Capstone Project: Developed a cloud-based application for real-time data analytics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</body>
</html>